[submodule "thirdparty/mine/option_and_error/OptionAndError"]
	path = thirdparty/mine/option_and_error/OptionAndError
	url = https://github.com/Empika1/OptionAndError
[submodule "thirdparty/mine/OptionAndError"]
	path = thirdparty/mine/OptionAndError
	url = https://github.com/Empika1/OptionAndError
[submodule "modules/drunk_chess_logic/DrunkChessLogic"]
	path = modules/drunk_chess_logic/DrunkChessLogic
	url = https://github.com/Empika1/DrunkChessLogic
